<h4 class="text-center">Your Stores</h4>
<div cg-busy="{promise: mainStoresVM.transitionPromise, delay: 200, minDuration: 200}">
   <table class="table table-bordered" ng-class="{'table-hover': mainStoresVM.areAnyStoresExistent()}">
      <thead>
         <tr>
            <th class="col-md-4">Store Name</th>
            <th class="col-md-6">Approx. Address</th>
         </tr>
      </thead>
      <tbody ng-if="!mainStoresVM.areAnyStoresExistent()">
         <tr>
            <td>You have no stores</td>
         </tr>
      </tbody>
      <tbody ng-if="mainStoresVM.areAnyStoresExistent()">
         <tr ng-repeat="store in mainStoresVM.stores" class="cursor-clickable" ng-class="{info: mainStoresVM.selectedStore === store}" ng-click="mainStoresVM.setSelectedStore(store)">
            <td>{{store.name}}</td>
            <td>{{store.approximateAddress}}</td>
         </tr>
      </tbody>
   </table>
   <div>
      <div>
         <div class="btn-group">
            <a class="btn btn-success" ng-click="mainStoresVM.createStore()">Create Store</a>
            <a class="btn btn-danger" ng-disabled="!mainStoresVM.isAStoreSelected()" ng-click="mainStoresVM.deleteSelectedStore()">Delete Store</a>
         </div>
         <div class="btn-group pull-right">
            <a class="btn btn-info" ng-disabled="!mainStoresVM.isAStoreSelected()" ng-click="mainStoresVM.updateSelectedStore()">Edit Attributes</a>
            <a class="btn btn-info" ng-disabled="!mainStoresVM.isAStoreSelected()" ng-click="mainStoresVM.editSelectedStore()">Edit Layout</a>
         </div>
      </div>
   </div>
</div>
