<div>
   <h4 class="text-center">Store Outline</h4>
   <div class="btn-group btn-group-justified">
      <label ng-repeat="outlineRadioEventHandlerModel in mainStoreLayoutFeaturesVM.outlineRadioEventHandlerModels"
             class="btn btn-primary"
             ng-model="mainStoreLayoutFeaturesVM.radioModel"
             uib-btn-radio="outlineRadioEventHandlerModel"
             ng-change="mainStoreLayoutFeaturesVM.radioChanged()"
             uncheckable>
         {{mainStoreLayoutFeaturesVM.radioModel === outlineRadioEventHandlerModel ? 'Finish' : outlineRadioEventHandlerModel.displayString}}
      </label>
   </div>
</div>
<div class="form-group">
   <h4 class="text-center">Features</h4>
   <div class="btn-group-vertical width-full">
      <label ng-repeat="featureRadioEventHandlerModel in mainStoreLayoutFeaturesVM.featureRadioEventHandlerModels"
             class="btn btn-primary"
             ng-model="mainStoreLayoutFeaturesVM.radioModel"
             uib-btn-radio="featureRadioEventHandlerModel"
             ng-change="mainStoreLayoutFeaturesVM.radioChanged()"
             uncheckable>
         {{featureRadioEventHandlerModel.displayString}}
      </label>
   </div>
</div>
<div class="form-group">
   <h4 class="text-center">Entrance & Checkout</h4>
   <div class="btn-group btn-group-justified">
      <label ng-repeat="nodeRadioEventHandlerModel in mainStoreLayoutFeaturesVM.nodeRadioEventHandlerModels"
             class="btn btn-primary"
             ng-model="mainStoreLayoutFeaturesVM.radioModel"
             uib-btn-radio="nodeRadioEventHandlerModel"
             ng-change="mainStoreLayoutFeaturesVM.radioChanged()"
             uncheckable>
         {{nodeRadioEventHandlerModel.displayString}}
      </label>
   </div>
</div>