.img-avatar {
   width: 18px;
   height: 18px;
}

.angular-google-map-container {
   height: 72vh;
   max-height: 800px;
}

.half-map .angular-google-map-container {
   height: 36vh;
   max-height: 400px;
}
