.img-avatar {
   width: 18px;
   height: 18px;
}

.angular-google-map-container {
   height: 72vh;
   max-height: 800px;
}

.half-map .angular-google-map-container {
   height: 36vh;
   max-height: 400px;
}

.autocomplete-custom-template li {
   border-bottom: 1px solid #ccc;
   height: auto;
   padding-top: 4px;
   padding-bottom: 4px;
   white-space: normal;
}

.autocomplete-custom-template li:last-child {
   border-bottom-width: 0;
}

.autocomplete-custom-template .item-title,
.autocomplete-custom-template .item-metadata {
   display: block;
   line-height: 2;
}

.text-item-obtained {
   text-decoration: line-through;
}
