.width-100 {
   width: 100px;
}

.width-200 {
   width: 200px;
}

.width-400 {
   width: 400px;
}

.width-full {
   width: 100%;
}

.height-5 {
   height: 5px;
}

.height-10 {
   height: 10px;
}

.height-25 {
   height: 25px;
}

.height-50 {
   height: 50px;
}

.height-100 {
   height: 100px;
}

.height-150 {
   height: 150px;
}

.height-200 {
   height: 200px;
}

.height-300 {
   height: 300px;
}

.height-400 {
   height: 400px;
}

.height-full {
   height: 100%;
}

.width-scrollable {
   overflow-x: scroll;
}

.height-scrollable {
   overflow-y: scroll;
}

.scrollable {
   overflow: scroll;
}
