.width-scrollable {
   overflow-x: scroll;
}

.height-scrollable {
   overflow-y: scroll;
}

.scrollable {
   overflow: scroll;
}

.card-entry {
   border: 1px solid rgba(0, 0, 0, 0.1);
   background-color: transparent;
   box-shadow: 0 0 0 rgba(0, 0, 0, 0);
   -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
   -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.card-clickable {
   cursor: pointer;
}

.card-clickable:hover {
   background-color: rgba(0, 0, 0, 0.05);
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
   -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
   -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.card-clickable:active {
   box-shadow: 0 0 0 rgba(0, 0, 0, 0);
   -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
   -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.btn-ghost {
   cursor: default;
}

.btn-ghost:hover {
   background-color: transparent !important;
}
