.text-white {
   color: white;
}

.text-normal {
   font-weight: normal !important;
   font-style: normal !important;
   text-decoration: none !important;
}

.text-italic {
   font-style: italic !important;
}

.text-strikethrough {
   text-decoration: line-through !important;
}