<div class="modal-wait-spinner-container" ng-show="mainVM.isLoading">
   <i class="fa fa-cog fa-spin fa-5x wait-spinner"></i>
</div>
<nav class="navbar navbar-default navbar-fixed-top">
   <div class="container" ng-show="!mainVM.isLoading">
      <div class="navbar-header">
         <a class="navbar-brand" ui-sref="main.welcome">Grapp</a>
      </div>
      <div class="navbar-collapse collapse">
         <ul class="nav navbar-nav">
            <li ng-show="mainVM.isUserLoggedIn()"><a class="clickable" ng-click="mainVM.showShoppingLists()">Shopping Lists</a></li>
            <li ng-show="mainVM.isUserLoggedIn()"><a class="clickable" ng-click="mainVM.showStores()">Stores</a></li>
            <li ng-show="mainVM.isUserLoggedIn()"><a class="clickable" ng-click="mainVM.showItems()">Items</a></li>
         </ul>
         <ul class="nav navbar-nav navbar-right">
            <button type="button" class="btn navbar-btn btn-info" ng-click="mainVM.logIn('google_plus')" ng-show="!mainVM.isUserLoggedIn()">Log in with Google+</button>
            <li class="dropdown" ng-show="mainVM.isUserLoggedIn()" uib-dropdown>
               <a class="dropdown-toggle" role="button" uib-dropdown-toggle>
                  {{mainVM.grappUserName}}
                  <img class="clickable img-avatar" src="{{mainVM.grappUserAvatar}}"/>
                  <span class="caret"></span>
               </a>
               <ul class="dropdown-menu" role="menu">
                  <li><a href="#" ng-click="mainVM.openModalUpdateDisplayName()">Update Display Name</a></li>
                  <li class="divider"></li>
                  <li><a href="#" ng-click="mainVM.logOut()">Log Out</a></li>
               </ul>
            </li>
         </ul>
      </div>
   </div>
</nav>
<div class="container" ui-view="content"></div>
