<input type="text" class="width-full" ng-if="grappItemTreeVM.options.filterable" ng-model="grappItemTreeVM.filter" ng-change="grappItemTreeVM.filterChanged()" placeholder="Item Filter"/>
<div class="border-1-solid-grey height-scrollable {{grappItemTreeVM.options.treeClass}}" ui-tree data-empty-placeholder-enabled="false">
   <ol ui-tree-nodes ng-model="grappItemTreeVM.items">
      <li ng-repeat="item in grappItemTreeVM.items"
          ng-include="'TreeItemRenderer.html'"
          data-collapsed="true"
          ng-show="grappItemTreeVM.isNodeVisible(this)"
          ui-tree-node>
      </li>
   </ol>
</div>
<script type="text/ng-template" id="TreeItemRenderer.html">
   <div class="tree-node">
      <a class="btn btn-primary btn-xs" ng-if="item.subItems.length > 0" ng-click="toggle(this)">
         <span class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span>
      </a>
      <a class="btn btn-default btn-xs cursor-default" ng-if="item.subItems.length == 0" disabled="true">
         <span class="glyphicon glyphicon-record"></span>
      </a>
      {{item.name}}
      <a class="pull-right btn btn-danger btn-xs" ng-click="grappItemTreeVM.remove(this)">
         <span class="glyphicon glyphicon-remove"></span>
      </a>
      <a class="pull-right btn btn-success btn-xs" ng-click="grappItemTreeVM.add(this)">
         <span class="glyphicon glyphicon-plus"></span>
      </a>
   </div>
   <ol ui-tree-nodes ng-model="item.subItems" ng-class="{hidden: collapsed}">
      <li class="lh-strut-5"
          ng-repeat="item in item.subItems"
          ng-include="'TreeItemRenderer.html'"
          data-collapsed="true"
          ng-show="grappItemTreeVM.isNodeVisible(this)"
          ui-tree-node>
      </li>
   </ol>
</script>