<form>
   <fieldset>
      <label for="itemFilter" class="col-xs-2 control-label text-right">Filter:</label>
      <div class="col-xs-10">
         <input id="itemFilter"
                type="text"
                class="col-xs-10 form-control"
                ng-if="itemTreeVM.options.filterable"
                ng-model="itemTreeVM.filter"
                ng-change="itemTreeVM.filterChanged()"
                placeholder="Item Filter"/>
      </div>
   </fieldset>
</form>
<div class="scrollable {{itemTreeVM.options.treeClass}}" ui-tree="itemTreeVM.treeOptions" data-empty-placeholder-enabled="false">
   <ol ui-tree-nodes ng-model="itemTreeVM.items">
      <li ng-repeat="item in itemTreeVM.items"
          ng-include="'TreeItemRenderer.html'"
          data-collapsed="true"
          ng-show="itemTreeVM.isNodeVisible(this)"
          ui-tree-node>
      </li>
   </ol>
</div>
<script type="text/ng-template" id="TreeItemRenderer.html">
   <div class="text-nowrap" ng-class="{'display-inline-block':itemTreeVM.options.compact}">
      <a class="btn btn-primary btn-xs" ng-if="item.subItems.length > 0" ng-click="toggle(this)">
         <span class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span>
      </a>
      <a class="btn btn-ghost btn-xs cursor-default" ng-if="item.subItems.length == 0" disabled="true">
         <span class="glyphicon glyphicon-record"></span>
      </a>
      <span ng-include="itemTreeVM.options.itemTemplateUrl || 'ItemNameRenderer.html'"></span>
      <small ng-if="itemTreeVM.edit != null" ng-click="!itemTreeVM.disabled && itemTreeVM.edit(this)"><span class="glyphicon glyphicon-pencil lh-strut-5 cursor-clickable"></span></small>
      <a class="btn btn-success btn-xs" ng-class="{'pull-right':!itemTreeVM.options.compact}" ng-if="itemTreeVM.add != null" ng-click="!itemTreeVM.disabled && itemTreeVM.add(this)" ng-disabled="itemTreeVM.disabled">
         <span class="glyphicon glyphicon-plus"></span>
      </a>
      <a class="btn btn-danger btn-xs" ng-class="{'pull-right':!itemTreeVM.options.compact}" ng-if="itemTreeVM.remove != null" ng-click="!itemTreeVM.disabled && itemTreeVM.remove(this)" ng-disabled="itemTreeVM.disabled">
         <span class="glyphicon glyphicon-remove"></span>
      </a>
   </div>
   <ol ui-tree-nodes ng-model="item.subItems" ng-class="{hidden: collapsed}">
      <li ng-repeat="item in item.subItems"
          ng-include="'TreeItemRenderer.html'"
          data-collapsed="true"
          ng-show="itemTreeVM.isNodeVisible(this)"
          ui-tree-node>
      </li>
   </ol>
</script>
<script type="text/ng-template" id="ItemNameRenderer.html">
   <span class="text-normal" ui-tree-handle>{{item.name}}</span>
</script>