<div class="h-strut-10">
   <h4 class="text-center">Node Type</h4>
   <div class="btn-group btn-group-justified">
      <label ng-repeat="nodeType in mainStoreMapNodesVM.nodeTypes"
             class="btn btn-primary"
             ng-model="mainStoreMapNodesVM.radioModel"
             uib-btn-radio="nodeType"
             ng-change="mainStoreMapNodesVM.radioChanged()">
         {{nodeType.displayString}}
      </label>
   </div>
   <h4 class="tv-strut-20 text-center">Selected Node</h4>
   <form>
      <div class="form-group row">
         <label for="nodeNameInput" class="col-sm-2 form-control-label">Name:</label>
         <div class="col-sm-10">
            <input id="nodeNameInput"
                   type="text"
                   class="form-control"
                   placeholder="Node Name"
                   ng-model="mainStoreMapNodesVM.selectedNodeName"
                   ng-blur="mainStoreMapNodesVM.nodeNameChanged()"
                   ng-disabled="!mainStoreMapNodesVM.isANodeSelected()"/>
         </div>
      </div>
   </form>
   <item-list items="mainStoreMapNodesVM.selectedNodeItems"
              remove="mainStoreMapNodesVM.removeNodeItem"
              options="{listClass: 'height-150'}">
   </item-list>
   <div class="tv-strut-10"></div>
   <item-tree items="mainStoreMapNodesVM.generalItems"
                    add="mainStoreMapNodesVM.addNodeItem"
                    options="{filterable: true, treeClass: 'height-200'}"
                    disabled="!mainStoreMapNodesVM.isANodeSelected()">
   </item-tree>
</div>