<div class="tab-row">
   <h4 class="text-center">Store Outline</h4>
   <div class="btn-group btn-group-justified">
      <label ng-repeat="outlineRadioEventHandlerModel in mainStoreMapLayoutVM.outlineRadioEventHandlerModels"
             class="btn btn-primary"
             ng-model="mainStoreMapLayoutVM.radioModel"
             uib-btn-radio="outlineRadioEventHandlerModel"
             ng-change="mainStoreMapLayoutVM.radioChanged()"
             uncheckable>
         {{mainStoreMapLayoutVM.radioModel === outlineRadioEventHandlerModel ? 'Finish' : outlineRadioEventHandlerModel.displayString}}
      </label>
   </div>
   <h4 class="vertical-strut text-center">Features</h4>
   <div class="btn-group-vertical full-width">
      <label ng-repeat="featureRadioEventHandlerModel in mainStoreMapLayoutVM.featureRadioEventHandlerModels"
             class="btn btn-primary"
             ng-model="mainStoreMapLayoutVM.radioModel"
             uib-btn-radio="featureRadioEventHandlerModel"
             ng-change="mainStoreMapLayoutVM.radioChanged()"
             uncheckable>
         {{featureRadioEventHandlerModel.displayString}}
      </label>
   </div>
</div>