<div class="tree-node tree-node-content">
   <a class="btn btn-success btn-xs" ng-if="item.subItems.length > 0" ng-click="toggle(this)">
      <span class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span>
   </a>
   {{item.name}}
   <a class="clickable" ng-click="mainItemsVM.editItem(this)">
      <span class="glyphicon glyphicon-pencil"></span>
   </a>
   <a class="pull-right btn btn-danger btn-xs" ng-click="mainItemsVM.deleteItem(this)" data-nodrag>
      <span class="glyphicon glyphicon-remove"></span>
   </a>
   <a class="pull-right btn btn-primary btn-xs" ng-click="mainItemsVM.createItem(this)">
      <span class="glyphicon glyphicon-plus"></span>
   </a>
</div>
<ol ui-tree-nodes ng-model="item.subItems" ng-class="{hidden: collapsed}">
   <li ng-repeat="item in item.subItems" ng-include="'app/items/TreeItemRenderer.html'" data-collapsed="true" ui-tree-node></li>
</ol>